body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 2px solid #000;
  width: fit-content;
  margin: auto;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
}

.display input {
  height: 5vh;
  width: 12vw;
}

.result {
  height: 10vh;
  width: 31vw;
  border: 2px solid #000;
  margin-bottom: 10px;
  text-align: center;
}
